*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#titulo{
    width: 80%;
    height: 70px;
    margin: 10px auto;
    text-align: center;
    background-color: antiquewhite;
    padding: 20px;
    box-sizing: border-box;
}

#titulo h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1px;
}

#container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#container header{
    background: #000;
    color:#fff;
    padding: 20px;
}

#container header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px auto;
    width: 80%;
    display: flex;
    justify-content: center; /* <- isso aqui alinha os itens ao centro */
    text-align: center;
}

#container header nav ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    padding: 5px 10px;

}
#container header nav ul li a:hover{
    text-decoration: underline;
}

.produto{
    width: 200px;
    height: 400px;
    margin: 10px;
    padding: 20px;
    border: 5px dotted #6d0101;
    background-image:linear-gradient(#4d0707,#38250d,#4d0707) ;
    color:#fff;
    border-radius: 10px;
}

.produto img{
    max-width: 100%;
    height: 120px;
    margin-bottom: 10px;
}


button{
    background: rgb(216, 190, 250);
    margin-top: 265px;
    padding: 15px 45px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
}

button:hover{
    background: #021b2b;
    color:#fff;
}

#vinho_merlot{
    background-image: url(/source/imgs/vinho_merlot.jpg);
    background-size: cover;
    background-position: center;
}   


